@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply 
        text-2xl
        tracking-wider
    }

    h2 {
        @apply 
        text-lg
        tracking-wide
    }
    
    .body {
        @apply
        my-4
        mx-auto
        flex
        flex-col
       /* bg-slate-200*/   
        max-w-[880px]     
        w-full
    }

    .component {
        @apply
        mb-4
        flex
        flex-col
        bg-slate-100
        max-w-full
        p-4
        rounded
        border border-slate-200
    }

    .sub-component {
        @apply
        max-w-full
        flex
        flex-col
    }

    .content-table {
        @apply
        bg-white
        border-collapse 
        border border-slate-400
    }
    
    .table-col-header {
        @apply
        text-left
        mx-2
        my-2
        py-1
        px-2
    }

    .table-cell {
        @apply
        border-y border-slate-400
        py-1
        px-2
    }

    .table-button {
        @apply
        rounded
        my-1
        py-1
        px-2
        border border-slate-400
        hover:bg-slate-100
    }

    .component-button {
        @apply
        rounded
        py-1
        px-2
        border border-slate-400
        hover:bg-slate-200
        bg-white
        max-w-96
        min-w-52

    }

    .select {
        @apply
        border border-slate-400
        p-2
    }

    .member-input{
        @apply
        border border-slate-400
        px-2
        py-2
    }


}

.alert {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
}

/* Success alert styling */
.alert.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* Error alert styling */
.alert.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}